body {
  font-family: "Poppins", sans-serif;
}
h2 {
  color: rgb(2, 130, 203);
}
h3 {
  color: rgb(253, 187, 0);
}
.section1 {
  background: linear-gradient(rgba(42, 43, 44, 0.733), rgba(44, 43, 43, 0.733)),
    url(img2.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
  height: 85vh;
  width: 100%;
}
label {
  font-weight: 800;
}
select {
  width: 100%;
  height: 30px;
  border: 1px solid #ced4da;
  height: 35px;
}
.menu-toggle {
  margin: 6px 0;
}
.image-logo {
  width: 70px;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.underline {
  width: 70px;
  height: 5px;
  background: rgb(253, 187, 0);
  min-height: 5px;
  margin-bottom: 20px;
}
.deadline {
  font-weight: 400;
  border-radius: 50px;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
}
.deadline-container {
  position: absolute;
  bottom: -40px;
  height: 120px;
  left: 0;
  box-sizing: border-box;
  border-radius: 50px;
  width: 100%;
}
.time {
  border-radius: 50%;
  border: 1px solid rgb(253, 187, 0);
  font-size: 2em;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
}
.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  padding-top: 120px;
}
.deadline > span {
  margin-top: 0px;
  font-size: 40px;
}
.time span {
  padding-right: 5px !important;
}
button {
  background-color: white;
  padding: 10px 25px;
  border-radius: 20px;
  margin: 30px 0;
  font-size: 25px;
  transition: 0.3s;
  border: none;
}
button:hover {
  background: rgb(2, 130, 203);
}
button:hover a {
  text-decoration: none;
  color: white;
}
button a {
  color: rgb(2, 130, 203);
  text-decoration: none;
}
.companies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 40px;
}
.img-companies img {
  width: 150px;
  height: 100px;
}
#event {
  background: linear-gradient(rgba(42, 43, 44, 0.733), rgba(44, 43, 43, 0.733)),
    url(img1.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#about {
  background: rgb(2, 130, 203);
  color: white;
}
.event {
  display: grid;
  grid-template-columns: 40% 60%;
}
.event-icon {
  width: 100px;
  height: 100px;
  background: rgb(2, 130, 203);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-icon i {
  font-size: 50px;
}
.event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}
.event-activities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
}
.about {
  background-color: rgb(156, 118, 11);
  color: white;
}
.bdr--btm {
  background: rgb(32, 25, 25);
  width: 100%;
  border-bottom: 1px solid rgb(117, 115, 115);
}
.agenda-time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 21px;
}
.underline-container {
  padding: 20px 0;
  margin-bottom: 10px;
}
/************ speakers *********/
.talent-top {
  background: url("cropped-SFC2.jpg");
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}
.talent-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
}
.talent-item {
  border-radius: 4px;
  width: 300px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
}
.talent-item-div {
  width: 100%;
  height: 270px;
  background: url("cropped-SFC2.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  transition: 0.5s;
}

.talent-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.talent-item-icons {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(68, 63, 63, 0.404);
  bottom: 100%;
  transition: 0.3s all;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.talent-icons div,
.icon div {
  width: 40px;
  height: 40px;
  background-color: rgb(2, 130, 203);
  border-radius: 50%;

  margin: 0 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-group {
  margin: 30px 0 !important;
}
.talent-icons div i {
  font-size: 21px;
}
nav i {
  color: white;
}
.speakers {
  color: rgb(212, 211, 211);
}
.form button {
  background: rgb(253, 187, 0);
  width: 100%;
  color: white;
  border-radius: 10px;
}
.talent-item-div:hover {
  transform: scale(1.17);
}
.talent-item-div:hover .talent-item-icons {
  bottom: 0%;
}
.venueMap {
  background: linear-gradient(rgba(42, 43, 44, 0.508), rgba(44, 43, 43, 0.533)),
    url("img3.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 360px) {
  .time {
    font-size: 25px;
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 992px) {
  .venueMap {
    height: auto;
  }
  .form {
    width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  .time {
    font-size: 2.6em;
    width: 100px;
    height: 100px;
    /* flex-direction: row; */
  }

  .deadline > span {
    margin: 0 10px;
    margin-top: 0px;
    font-size: 40px;
  }
  .deadline {
    width: auto;
  }
  .deadline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: -60px;
  }
  .section1 {
    height: 77vh;
  }
  .underline-container {
    margin-top: 20px;
    display: flex;
  }
  .underline {
    margin-top: 21px;
    margin-right: 20px;
  }
  .underline:nth-child(2) {
    margin-top: -30px;
  }
  .talent-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  .talent-item {
    margin-bottom: 0px;
  }
}
